:root {
  --primary: #ff8a65;
  --secondary: #61714d;
  --neutral: #c2a887;
  --primary-accent: #ef9a9a;
  --secondary-accent: #8fae93;
  --bg2: #f7f7f7;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-blue-500;
}
.or {
  margin: 1rem 0 -1.5rem !important;
}
.google {
  margin: 5px 0 !important;
}
